@import './exceptional.styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: calc(15px + 0.390625vw);
  }

  .article-container {
    @apply mx-auto max-w-3xl px-4;
  }

  p,
  li,
  span,
  mark {
    @apply font-sans;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0px;
  }

  mark {
    @apply bg-gray-50/60 leading-8;
  }

  a,
  button {
    @apply font-sans;
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: 1.25px;
  }

  .title {
    @apply font-sans;
    font-size: 3.815rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -2px;
    margin-bottom: 1.5rem;
  }

  h1 {
    @apply font-serif;
    font-size: 3.052rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    margin-bottom: 1rem;
  }

  h2 {
    @apply font-serif;
    font-size: 2.441rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -2px;
  }

  h3 {
    @apply font-serif;
    font-size: 1.953rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -1px;
  }

  h4 {
    @apply mb-6 font-serif;
    font-size: 1.563rem;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: -1px;
  }

  h5 {
    @apply font-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -1px;
  }

  h6 {
    @apply font-sans;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  code {
    @apply bg-gray-300;
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    padding: 0.4rem;
  }

  small {
    @apply font-sans;
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }

  .section_subtext p {
    @apply text-xl;
    line-height: 2;
  }
}
